  .world:nth-of-type(1) {
    height: 250px;
    margin: 0 auto;
    margin-top: 6em;
    position: relative;
    transform-style: preserve-3d;
    width: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    animation-name: movingclouds;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    cursor: pointer;
  }
  
  .world:nth-of-type(2) {
    height: 250px;
    margin-left: calc(50% - 200px);
    margin-right: auto;
    margin-top: 3em;
    position: relative;
    transform-style: preserve-3d;
    width: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    animation-name: movingclouds;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    cursor: pointer;
  }

  /* intero clouds */
  @keyframes movingclouds {
    0% {
        margin-left: -999px;
    }

    100% {
        margin-left: calc(50% - 200px);
    }
}

  .cloud {
      position: absolute;
      width: 150px;
      /* -webkit-filter: invert(.8);
      filter: invert(.8); */
  }

  .cloudPink {
       filter: sepia() saturate(10000%) hue-rotate(185deg);
  }

  .cloud1 {
      transform: translateZ(30px);
      left: 160px;
      top: -20px; 
  }

  .cloud2 {
    transform: translateZ(15px);
    left: 109px;
    top: 40px;
}

.cloud3 {
    transform: translateZ(-20px);
    right: 50px;
    top: -20px;
}

.cloud4 {
    transform: translateZ(-40px);
    left: 40px;
    top: -10px;
   
}

.cloud5 {
    transform: translateZ(50px);
    left: 120px;
    top: 20px;
}

.cloud6 {
    transform: translateZ(-62px);
    right: 38px;
}

.cloud7 {
    transform: translateZ(-70px);
    left: 50px;
    top: -21px;
}

.cloud8 {
    transform: translateZ(-100px);
    left: 260px;
    top: 70px;
}

.cloud9 {
    transform: translateZ(60px);
    left: 120px;
    top: 20px;
}

.cloud10 {
    transform: translateZ(-53px);
    left: -30px;
    top: -21px;
}

.cloud11 {
    transform: translateZ(50px);
    left: 40px;
}

.cloud12 {
    transform: translateZ(-88px);
    left: 340px;
    top: -45px;
   
}

.cloud13 {
    transform: translateZ(-90px);
    left: 160px;
    top: 10px;
}

.cloud14 {
    transform: translateZ(34px);
    left: 170px;
    top: 60px;
}

.cloud15 {
    transform: translateZ(13px);
    left: 37px;
}

.cloud16 {
    transform: translateZ(-7px);
    left: 250px;
    top: -43px;
}

.cloud17 {
    transform: translateZ(-16px);
    left: 77px;
}

.cloud18 {
    transform: translateZ(29px);
    left: 200px;
    top: 5px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    line-height: 16px;
    overflow: hidden;
}

#viewport {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #7b9cc5;
    transition: all 1s;
}

#Layer_1,#Layer_2,#Layer_3,#Layer_4,#bg-Layer_4,#bg-Layer_3,#bg-Layer_2,#bg-Layer_1{
    z-index: 9999;
    position: absolute;
    transform: translateZ(80px);
    top: -70px;
    width: 550px;
    left: -35px;
}

#Layer_3,#Layer_4,#bg-Layer_4,#bg-Layer_3  {
    top: -115px;
}

#bg-Layer_4,#bg-Layer_3,#bg-Layer_2,#bg-Layer_1{
    transform: translateZ(79px);
}

#Layer_1,#bg-Layer_1,#Layer_3,#bg-Layer_3 {
    left: -110px;
}

@font-face {
    font-family: "Bodoni";
    src: url(../fonts/BodoniFLF-Bold.ttf);
}

.h1-holder{
    position: absolute;
    top: 109px;
    width: 280px;
    transform: rotate(-90deg);
    right: 178px;
    border-left: 4px solid white;
    z-index: 1;
    overflow: hidden;
}

h1 {
    font-family: 'Bodoni', serif;
    width: 280px;
    line-height: 50px;
    padding-left: 12px;
    color: white;
    font-size: 50px;
    letter-spacing: 1.5px;
    animation-name: moveH1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transition: all 1s;
}
@keyframes moveH1{
    0%{
        margin-left: -280px;
    }
    100%{
        margin-left: 0px;
    }
}

.red {
    color: red;
    transition: all 1s;
}

.h2-holder{
    position: absolute;
    top: 305px;
    right: 270px;
    z-index: 1;
    overflow: hidden;
}

.h2-container {
    animation-name: moveH2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /* animation-timing-function: ease-in-out; */
}

@keyframes moveH2{
    0%{
        margin-top: -400px;
    }
    100%{
        margin-top: 0px;
    }
}

h2 {
    width: 97px;
    line-height: 25px;
    border-bottom: 1px solid white;
    padding-bottom: 1.5px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
}

#textOne {
    color: white;
    width: 97px;
    border-bottom: 1px solid white;
    padding-bottom: 2.5px;
    font-size: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

#textTwo {
    color: white;
    width: 97px;
    border-bottom: 1px solid white;
    padding-bottom: 2.5px;
    font-size: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

#textThree {
    color: white;
    width: 97px;
    border-bottom: 1px solid white;
    padding-bottom: 2.5px;
    line-height: 16px;
    font-size: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;

}

#textFour {
    color: white;
    width: 97px;
    border-bottom: 1px solid white;
    padding-bottom: 2.5px;
    line-height: 16px;
    font-size: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

button {
    cursor: pointer;
    background-color: white;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 30px;
    width: 40px;
    border: none;
    font-size: 1em;
    padding: 2px;
}

#viewport.pink {
    background-color:rgb(23, 0, 65);
    transition: all 1s;
}

.eyeFill {
    overflow: visible;
    fill: #7b9cc5;
    transition: all 1s;
}

.pinkEye {
    fill: white;
    transition: all 1s;
}

.st0{
    clip-path:url(#_x3C_eyeFram4_x3E__1_);
    fill:#0A0A11;
}

.eyeBallColor {
    fill: rgb(23, 0, 65);
}

.hearts {
    background-color: red;
    display: inline-block;
    height: 25px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
    opacity: 0;
  }
  
.hearts:before,
.hearts:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    width: 25px;
  }
  
.hearts:before {
    top: -15px;
    left: 0;
  }
  
.hearts:after {
    left: 15px;
    top: 0;
  }

/* hearts animation */
@keyframes heartOne {
    0% {
        top: 110px;
        opacity: 1;
    }
    100% {
        top: 500px;
        opacity: 0;
    }
}
  
.heart1 {
      position: absolute;
      top: 110px;
      left: 30px;
      z-index: -1;
      animation-name: heartOne;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }

.heart2 {
    position: absolute;
    top: 120px;
    left: 100px;
    z-index: -1;
    animation-name: heartOne;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.heart3 {
    position: absolute;
    top: 140px;
    left: 150px;
    z-index: -1;
    animation-name: heartOne;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.heart4 {
    position: absolute;
    top: 120px;
    left: 220px;
    z-index: -1;
    animation-name: heartOne;
    animation-duration: 1s;
    animation-delay: 1.1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.heart5 {
    position: absolute;
    top: 140px;
    left: 280px;
    z-index: -1;
    animation-name: heartOne;
    animation-duration: 1s;
    animation-delay: 2.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.heart6 {
    position: absolute;
    top: 100px;
    left: 340px;
    z-index: -1;
    animation-name: heartOne;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 2px;
    background: white;
}

/* stars animation */
@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.button {
    height: 50px;
    width: 100px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background-image: url(/sun.png);
    background-repeat: no-repeat;
    background-position: 0.5em;
    background-size: 40px;
    transition: all 1s;
}

.night {
    background-image: url(/moon.png);
    background-repeat: no-repeat;
    background-position: 2.8em;
    background-size: 40px;
    transition: all 1s;
}

.music-btn {
    display: block;
    top: 550px;
}

.heart-btn {
    display: block;
    left: 150px;
    top: 45px;
    background-color: transparent;
}

.heart-btn div {
    background-color: red;
    display: inline-block;
    height: 25px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
    animation-name: scalingBtn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes scalingBtn {
      0%{
        transform: scale(1) rotate(-45deg);
      }
      50%{
        transform: scale(1.1) rotate(-45deg);
      }
      100%{
        transform: scale(1) rotate(-45deg);
      }
  }
  
.heart-btn div:before,
.heart-btn div:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    width: 25px;
  }
  
.heart-btn div:before {
    top: -15px;
    left: 0;
  }
  
.heart-btn div:after {
    left: 15px;
    top: 0;
  }

.rainbow-btn {
    display: block;
    left: 150px;
    top: 40px;
    background-color: transparent;
    width: 70px;
    animation-name: rainbowRotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rainbowRotate {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}

.desappear{
    display: none;
}

.rainbow {
    clip: rect(0 490px 245px 0);
    height: 490px;
    left: -30%;
    position: absolute;
    top: -10%;
    transform: translateX(-50%) translateY(-25%);
    width: 490px;
    transform: rotate(-90deg);
}

.arc {
    animation: spin ease-in-out 2s normal both;
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
}

.arc-red {
    border: 40px solid #e31d28;
    clip: rect(0 490px 245px 0);
    height: 490px;
    margin-left: -245px;
    margin-top: -245px;
    width: 490px;
    animation-delay: 1.8s;
    opacity: 0;
}

.arc-orange {
    border: 40px solid #ed8c3d;
    clip: rect(0 420px 210px 0);
    height: 420px;
    margin-left: -210px;
    margin-top: -210px;
    width: 420px;
    animation-delay: 1.5s;
    opacity: 0;
}

.arc-yellow {
    border: 40px solid #fcd234;
    clip: rect(0 350px 175px 0);
    height: 350px;
    margin-left: -175px;
    margin-top: -175px;
    width: 350px;
    animation-delay: 1.2s;
    opacity: 0;
}
.arc-green {
    border: 40px solid #3e9965;
    clip: rect(0 280px 140px 0);
    height: 280px;
    margin-left: -140px;
    margin-top: -140px;
    width: 280px;
    animation-delay: 0.9s;
    opacity: 0;
}

.arc-blue {
    border: 40px solid #295167;
    clip: rect(0 210px 105px 0);
    height: 210px;
    margin-left: -105px;
    margin-top: -105px;
    width: 210px;
    animation-delay: 0.6s;
    opacity: 0;
}

.arc-purple {
    border: 40px solid #492245;
    clip: rect(0 140px 70px 0);
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    width: 140px;
    animation-delay: 0.3s;
    opacity: 0;
}

.arc {
    opacity: 0.9;
}


@keyframes spin {
    from {
        transform: rotateZ(-180deg);
   }
    to {
        transform: rotateZ(0deg);
   }
}


